#gyro {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 30px;
    left: 10px
}
#line-follow {
    position: absolute;
    width: 125px;
    height: 150px;
    top: 30px;
    left: 180px;
}
#ball-pickup {
    position: absolute;
    width: 125px;
    height: 150px;
    top: 30px;
    left: 325px;
}
#robot {
    position: absolute;
    width: 450px;
    height: 300px;
    top: 200px;
    left: 10px;
}

.status-text {
    font-size: 30px;
    font-weight: 700;
}
.border {
    stroke-width: 1;
}
.guide {
    stroke-dasharray: 8, 8;
    stroke-width: 1;
}

.on-fill {
    fill: #59f442;
}
.off-fill {
    fill: red;
}
.mid-fill {
    fill: orange;
}
.on-stroke {
    stroke: #59f442;
}
.off-stroke {
    stroke: red;
}
.mid-stroke {
    stroke: orange;
}




/* ADD DRAWING CLASSES */





.guide-line-off {
    stroke: red;
    stroke-width: 1;
    stroke-dasharray: 8, 8;
}
.guide-line-mid {
    stroke: orange;
    stroke-width: 2;
    stroke-dasharray: 8, 8;
}
.guide-line-on {
    stroke: #59f442;
    stroke-width: 3;
    stroke-dasharray: 8, 8;
}

.guide-text-off {
    fill: red;
}
.guide-text-mid {
    fill: orange;
    font-weight: bold;
}
.guide-text-on {
    fill: #59f442;
    font-weight: bold;
}

.guide-warning {
    stroke: black;
    fill: orange;
}
.guide-warning-icon-text {
    fill: black;
    font-weight: 800;
}
.guide-warning-text {
    fill: orange;
    font-weight: 700;
}

#pickup-status {
    font-weight: 900 !important;
}